@{
    ViewData["Title"] = "Admin Area";
    Layout = "_LayoutAdmin";
}

<h1>Admin Area</h1>

<p>
    <a asp-controller="Admin" asp-action="Blog">Manage Blogs</a>
</p>
<p>
    <a asp-controller="Admin" asp-action="Product">Manage Products</a>
</p>