<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">MVC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="d-flex w-100 mx-auto">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav d-flex justify-content-start">
                        <li class="nav-item me-3">
                            <a class="nav-link nav-text-active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link nav-text" asp-area="" asp-controller="#"
                                asp-action="Index">Shop</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link nav-text" asp-area="" asp-controller="#"
                                asp-action="Index">Pages</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link nav-text" asp-area="" asp-controller="#"
                                asp-action="Index">Blog</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link nav-text" asp-area="" asp-controller="#"
                                asp-action="Index">About Us</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link nav-text" asp-area="" asp-controller="#"
                                asp-action="Index">Contact Us</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav d-flex justify-content-start me-3">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                <!-- Ẩn icon trên mobile -->
                                <img src="~/img/heart-icon.png" alt="" class="d-none d-sm-inline">
                                <!-- Hiện chữ trên mobile -->
                                <span class="d-inline d-sm-none">Wishlist</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <img src="~/img/cart-icon.png" alt="" class="d-none d-sm-inline">
                                <span class="d-inline d-sm-none">Cart</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Identity" asp-controller="Manage" asp-action="Index">
                                <img src="~/img/user-icon.png" alt="" class="d-none d-sm-inline">
                                <span class="d-inline d-sm-none">Account</span>
                            </a>
                        </li>
                    </ul>
                    <partial name="_MenuManageDb" />

                </div>
            </div>
        </div>

    </div>
</nav>