<div class="dashboard-navigation">
    <div class="navigation-heading">Navigation</div>
    <a asp-action="Index" asp-controller="Manage" asp-area="Identity" class="text-decoration-none">
        <div class="account-links">
            <!-- Icon placeholder -->
            <span>Dash Board</span>
        </div>
    </a>

    <a asp-action="Cart" asp-controller="ViewProduct" asp-area="ProductManage" class="text-decoration-none">
        <div class="account-links">
            <!-- Icon placeholder -->
            <span>Shopping Cart</span>
        </div>
    </a>
     <a asp-action="Settings" asp-controller="Manage" asp-area="Identity" class="text-decoration-none">
        <div class="account-links">
            <!-- Icon placeholder -->
            <span>Settings</span>
        </div>
    </a>
    <a asp-action="ChangePassword" asp-controller="Manage" asp-area="Identity" class="text-decoration-none">
        <div class="account-links">
            <!-- Icon placeholder -->
            <span>Change Password</span>
        </div>
    </a>
    <div class="account-links">
        <!-- Icon placeholder -->
        <span>Log-out</span>
    </div>
</div>