<link rel="stylesheet" href="~/css/about-page.css" />
<div class="about-content">
    <div class="fisrt-banner">
        <div class="fisrt-banner-text" id="banner-text">
            <h1 style="font-weight: 650">100% Trusted Organic Food Store</h1>
            <p style="font-size: 14px;font-weight: 300;font-family:poppins">Morbi porttitor ligula in nunc varius
                sagittis. Proin dui nisi, laoreet <br>ut tempor ac, cursus vitae eros. Cras quis ultricies elit. Proin
                ac <br>lectus arcu. Maecenas aliquet vel tellus at accumsan. Donec a <br>eros non massa vulputate
                ornare. Vivamus ornare commodo <br> ante, at commodo felis congue vitae.
            </p>
        </div>
        <div class="fisrt-banner-img">
            <img src="~/img/ongchucachua.jpg" alt="">
        </div>
    </div>
</div>


<div class="long-banner">
    <div class="long-banner-bg">
        <img src="~/img/banner-about-2.png" alt="">

    </div>
    <div class="long-banner-content">
        <div class="text-content" id="banner-text">
            <h1 style="font-weight: 700">100% Trusted <br> Organic Food Store</h1>
            <p style="font-weight: 300;font-size: 13px;">Pellentesque a ante vulputate leo porttitor luctus sed eget
                eros. Nulla et<br> rhoncus neque. Duis non diam eget est luctus tincidunt a a mi. Nulla eu <br> eros
                consequat tortor tincidunt feugiat.</p>
        </div>
        <div class="feature-content">
            <div class="feature-bar">
                <div class="icons">
                    <div class="img"><img src="~/img/leaf-2.png" alt=""></div>
                </div>
                <div class="feature-text" id="feature-text">
                    <h1>100% Organic food</h1>
                    <p>100% healthy & Fresh food.</p>
                </div>
            </div>

            <div class="feature-bar">
                <div class="icons">
                    <div class="img"><img src="~/img/stars-1.png" alt=""></div>
                </div>
                <div class="feature-text" id="feature-text">
                    <h1>Customer Feedback</h1>
                    <p>Our happy customer</p>
                </div>
            </div>

            <div class="feature-bar">
                <div class="icons">
                    <div class="img"><img src="~/img/shopping-bag.png" alt=""></div>
                </div>
                <div class="feature-text" id="feature-text">
                    <h1>100% Sucure Payment</h1>
                    <p>We ensure your money is save</p>
                </div>
            </div>
            
        </div>

    </div>

</div>

<div class="content-wrapper">
    <div class="banner_about">
        <div class="three-banner">
            <div class="banner_three_about_conttent">
                <div class="about_conttent" id="about_banner_contten">
                    <h1>We Delivered, You Enjoy Your Order.</h1>
                    <p>Ut suscipit egestas suscipit. Sed posuere pellentesque nunc, ultrices consectetur velit dapibus
                        eu. Mauris sollicitudin dignissim diam, ac mattis eros accumsan rhoncus. Curabitur auctor
                        bibendum nunc eget elementum.</p>
                </div>
                <div class="tick_about">
                    <div class="tick">
                        <div class="icon_tick"><img src="~/img/tick_about.svg" alt=""></div>
                        <div class="icon_text"> Sed in metus pellentesque.</div>
                    </div>
                    <div class="tick">
                        <div class="icon_tick"><img src="~/img/tick_about.svg" alt=""></div>
                        <div class="icon_text ">Fusce et ex commodo, aliquam nulla efficitur, tempus lorem.</div>
                    </div>
                    <div class="tick">
                        <div class="icon_tick"><img src="~/img/tick_about.svg" alt=""></div>
                        <div class="icon_text">Maecenas ut nunc fringilla erat varius.</div>
                    </div>

                </div>
                <div class="button_about">
                    <div class="button_text">
                        <p>Shop Now</p>
                    </div>
                    <div class="button_icon">
                        <img src="~/img/icon_about.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="three_banner_img">
                <div><img src="~/img/chuaodo.png " alt=""></div>
            </div>
        </div>
    </div>
</div>

