@{
    ViewData["Title"] = "Contact";
    
}
<link rel="stylesheet" href="~/css/contact.css" />
<div class="contact_containner">
            <div class="contact_content">
                <div class="contact_text">
                    <div class="contact_icon">
                         <img src="~/img//local.png" alt="">
                     </div>
                     <div class="contact_name">
                        2715 Ash Dr.San Jose,South <br>Dakota 83475
                     </div>
                
                </div>
                <hr>
               <div class="contact_text">
                    <div class="contact_icon">
                        <img src="~/img//mail.png" alt="">
                    </div>
                    <div class="contact_name">
                         Proxy@gmail.com<br>Help.proxy@gmail.com
                   </div>
                
               </div>
               <hr>
               <div class="contact_text">
                    <div class="contact_icon"> 
                         <img src="~/img//phone_contact.png" alt="">
                    </div>
                    <div class="contact_name">
                         (219) 555-0114 <br>
                        (164) 333-0487
                    </div>
               </div>
            </div>
        
            <div class="contact_table"> 
                 <div class="contact_table_content"> 
                    <h1>Just Say Hello!</h1>
                    <p>Do you fancy saying hi to me or you want to get started with your <br>project and you need my help?Feel free to contact me. </p>
                </div>
                <div class="contact_alltable">
                        <div class="contact_table_input">
                            <div class="contact_table_input_name">
                                <input type="text" placeholder="Template Cookie" class="input_table_contact name_input">
                            </div>
                           <div class="contact_table_input_name">
                                <input type="text" placeholder="example@gmail.com" class="input_table_contact email_input">
                            </div>
                        </div>
                        <div class="contact_table_input_hello">
                            <input type="text" placeholder="Hello" class="input_table_contact message_input">
                        </div>
                        <div class="contact_table_input_subject">
                            <input type="text" placeholder="Subjects" class="input_table_contact_subject subject_input" >
                        </div>
                </div>
                <button class="contact_button">Gửi</button>
            </div>
    </div>
        </div>
        <div id="messageAlert"></div>
</div>

    <div class="image">
        <img src="~/img//Map_contact.png" alt="">
   </div>