@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
  var summernote =  new App.Models.Summernote("#test");
}

<textarea id="test"></textarea>
<textarea id="test2"></textarea>
<partial name="_Summernote" model="summernote" />

