 @{
    Layout = "_Layout";
 }
<link rel="stylesheet" href="~/css/dashboard.css" />
<div class="row">
    <div class="col-md-3">
        <partial name="_UserSideBar" />
    </div>
    <div class="col-md-9">@RenderBody()</div>

</div>

@RenderSection("Scripts", required: false)
