@using Microsoft.IdentityModel.Tokens
@model IndexViewModel
@{
    ViewData["Title"] = "Quản lý tài khoản của bạn";
    var user = ViewData["User"] as AppUser ?? new AppUser();
    var profileModel = ViewData["EditProfileModel"] as AccountProfileModel;
    var billingAddressModel = ViewData["BillingAddressModel"] as BillingAdressModel;
}


@section SideBar {
    <h1>THIS IS SIDEBAR</h1>
}
<h1>@ViewData["Title"].</h1>
<p class="text-success">@ViewData["StatusMessage"]</p>

<partial name="_StatusMessage" />



<div>
    <partial name="_EditProfilePartial" model="profileModel" />
    <partial name="_BillingAdressPartial" model="billingAddressModel" />
    <hr>
    <div id="box-photo-upload" class="d-flex flex-wrap photo-upload" data-id="@user.Id"></div>
    <img class="w-50 p-2 " src="/contents/Users/@user.AvatarImg">
    <input class="collapse" type="file" id="selectfileupload" onchange="AutoUploadPhoto()">
    <span class="btn btn-primary" onclick="ClickButtonUpload()">Upload</span>
</div>
</div>

<hr>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function ClickButtonUpload() {
            $('#selectfileupload').click();
        }
        function AutoUploadPhoto() {
            var formData = new FormData();
            var id = $("#box-photo-upload").data("id");
            formData.append("id", id);

            var fileCount = document.getElementById("selectfileupload").files.length;
            if (fileCount == 0) return;

            var fileData = document.getElementById("selectfileupload").files[0];
            formData.append("FileUpLoad", fileData);
            var urlUpload = "@Url.Action("UploadPhotoAPI")";

            $.ajax({
                data: formData,
                cache: false,
                url: urlUpload,
                type: "POST",
                contentType: false,
                processData: false,
                success: function (fileName) {
                    if (fileName) {
                        var newImgUrl = "/Uploads/Users/" + fileName;
                        $("img.w-50").attr("src", newImgUrl + "?t=" + new Date().getTime()); // Thêm timestamp để tránh cache
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Lỗi AJAX: " + error);
                }
            });
        }
    </script>
}